<!doctype html>
<html lang="en">
    <head>
        <title>Michael Whatcott - {{ .Title }}</title>
{{ template "header.tmpl" . }}
        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-light.min.css"
            media="screen" />
          <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-dark.min.css"
            media="screen and (prefers-color-scheme: dark)" />
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/clojure.min.js"></script>
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/clojure-repl.min.js"></script>
        <script>hljs.highlightAll();</script>
        <meta name="description" content="{{ .Intro }}">
        <link rel="canonical" href="https://michaelwhatcott.com{{ .Slug }}">
        <style>
{{ template "css.tmpl" }}
        </style>
    </head>

    <body>
{{ if ne (.Date.Format "2006-01-02") "2000-01-01" }}
        <nav>
            <a href="/">Home</a>
  {{ range .Topics }}
            ~ <a href="/topics/#{{ . }}">{{ . }}</a>
  {{ end }}
        </nav>
{{ end }}

        <h1>{{ .Title }}</h1>
        <h2 class="tldr">{{ .Intro }}</h2>

        <div>
{{ if ne (.Date.Format "2006-01-02") "2000-01-01" }}
            <h4>{{ .Date.Format "January 2, 2006" }}</h4>
{{ end }}

            <div>
{{ .Content }}

{{ if ne (.Date.Format "2006-01-02") "2000-01-01" }}
            <p><i>-Michael Whatcott</i></p>
{{ end }}
            </div>
        </div>

        <br>
        <br>
    </body>
</html>
