            :root {
                color-scheme: light dark;
            }

            html {
                -webkit-text-size-adjust: none;
                text-size-adjust: none;
                -moz-text-size-adjust: none;
            }

            body {
                margin-left: 3em;
                margin-right: 3em;
                max-width: 900px;
                color: grey;
            }

            header {
                font-size: 1.2em;
                margin-top: 1.2em;
                margin-bottom: 1.2em;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: Verdana;
            }

            a:link { color: dodgerblue; }
            a:visited { color: dodgerblue; }
            a:active { color: lightsalmon; }

            pre {
                overflow-x: auto;
                margin: 0.5em;
                border: 2px solid grey;
                border-radius: 5px;
                display: inline-block;
            }

            code {
                line-height: 1.2em;
                font-family: monospace;
            }

            blockquote {
                padding-left: 0.5em; 
                border-left: 2px solid grey;
                margin-inline: 10px;
            }

            img { 
                max-width: 100%;
                box-shadow: 0 0 18px #000;
                margin: 40px auto;
            }
